@media screen and (max-width: 931px) and (min-width: 100px){
#video-bg {
    display: none !important;
    }

}










@media screen and (max-width: 9999px) and (min-width: 1100) {
.toppad{
    padding-top: 70px;
}    
    
}

@media screen and (max-width: 450px) and (min-width: 300px){

.img-responsive {
   height: auto !important;
}
.product_txt{
    font-size: 16px !important;
    padding-top: 10px !important;
}
.product_txt2{
    font-size: 16px !important;
    padding-top: 4px !important;
}
.mix {
    border-bottom: 6rem solid currentColor !important;
}
}


.toppad h1{
        padding-right: 10px;
        padding-left: 10px;
        font-weight: 600;
}

nava ul {
    border-bottom: none !important;
}

.top_menu {
    border-bottom: 4px solid #a7dbd8 !important;
}

button {
    background: transparent;
    border-radius: 0;
    border: 0;
    padding: 0;

    -webkit-appearance: none;
    -webkit-border-radius: 0;

    user-select: none;
}

button:focus {
    outline: 0 none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


.container2 {
    margin-top: 20px;
}
.container2 a{
    color: black;
}

.container2 a:hreff{
    color: black;
}
.product_txt{
    position: absolute;
    text-align: center; 
    font-size: 24px;
    width: 100%;
    padding-top: 12px;
    line-height: initial;
}
.product_txt2{
    position: absolute;
    text-align: center; 
    font-size: 20px;
    width: 100%;
    padding-top: 2px;
    line-height: initial;
}







/* Controls
---------------------------------------------------------------------- */

.controls {
    padding: 1rem;
    background: #333;
}

.control {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 3.4rem;
    /* background: #444; */
    cursor: pointer;
    color: #001B26;
    transition: background 150ms;
    background-color: #f2f2f2;
    font-size: 20px;
    padding: 2px;
    margin: 4px;
}

.control:hover {
    background: #3f3f3f;
    color: #f2f2f2;
}

/*.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}*/

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: #393939;
    color: #f2f2f2;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

/*.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #001B26;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}*/

/* Container
---------------------------------------------------------------------- */

.container2 {
    padding: 1rem;
    text-align: left;
    font-size: 22px;
}

.container2:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-bottom: 5rem solid currentColor;
    margin-bottom: 1rem;
    position: relative;
    color: #001B26;
}

.mix:before {
    content: '';
    display:inline;
    padding-top: 56.25%;
}

.mix.b1 {
    color: #ADD5F7;
}
.control[data-filter=".b1"] {
    border-bottom: 4px solid #ADD5F7;
}
.mix.b2 {
    color: #FFC0A9;
}
.control[data-filter=".b2"] {
    border-bottom: 4px solid #FFC0A9;
}
.mix.b3 {
    color: #fdf07d;
}
.control[data-filter=".b3"] {
    border-bottom: 4px solid #fdf07d;
}
.mix.b4 {
    color: #97e0e0;
}
.control[data-filter=".b4"] {
    border-bottom: 4px solid #97e0e0;
}
.mix.v1 {
    color: #ff92a6;
}
.control[data-filter=".v1"] {
    border-bottom: 4px solid #ff92a6;
}
.mix.k2 {
    color: #FF6138;
}
.control[data-filter=".k2"] {
    border-bottom: 4px solid #FF6138;
}
.mix.k1 {
    color: #48ECFF;
}
.control[data-filter=".k1"] {
    border-bottom: 4px solid #48ECFF;
}
.mix.l1 {
    color: #C9D787;
}
.control[data-filter=".l1"] {
    border-bottom: 4px solid #C9D787;
}
.mix.o1 {
    color: #C9DE55;
}
.control[data-filter=".o1"] {
    border-bottom: 4px solid #C9DE55;
}
.mix.n1 {
    color: #FF974F;
}
.control[data-filter=".n1"] {
    border-bottom: 4px solid #FF974F;
}
.mix.p1 {
    color: #E6E2AF;
}
.control[data-filter=".p1"] {
    border-bottom: 4px solid #E6E2AF;
}
.mix.p2 {
    color: #ff92a6;
}
.control[data-filter=".p2"] {
    border-bottom: 4px solid #ff92a6;
}
.mix.t1 {
    color: #ACEBAE;
}
.control[data-filter=".t1"] {
    border-bottom: 4px solid #ACEBAE;
}
.mix.f1 {
    color: #fd6f85;
}
.control[data-filter=".f1"] {
    border-bottom: 4px solid #fd6f85;
}


/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 2 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap {
        width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
    }
}

/* 3 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}


